.itemBackground
{
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-background-color: white;
    /*-fx-max-width: 400px;*/
    /*-fx-max-height: 180px;*/
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #5d5858;
}

/*.nameFont*/
/*{*/
/*    -fx-font-family: "Times New Roman";*/
/*    -fx-font-size: 16px;*/
/*}*/

.buttonControl
{
    -fx-pref-width: 70px;
    -fx-pref-height: 25px;
    -fx-max-width:  70px;
    -fx-max-height: 25px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 3px;
    -fx-background-color: #a8a8a8;
}
.buttonControl:hover
{
    -fx-pref-width:  70px;
    -fx-pref-height: 25px;
    -fx-max-width:  70px;
    -fx-max-height: 25px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 3px;
    -fx-text-fill: #5c5c5c;
    -fx-border-radius: 3px;
    -fx-background-color: #ffffff;
    -fx-border-width: 0.2em;
    -fx-border-color: gray;
    -fx-padding: 2px;

}